body{
    background-color: rgb(177, 176, 174);
}
.allcard{
   /* width: 130px; */
   background-color: rgb(177, 176, 174);
   display: flex;
   flex-wrap: wrap;
   justify-content:space-around;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 120px 60px 60px;
    background-color: rgb(21, 23, 24);
    margin-top: 60px;   
    height: 550px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 20px 20px #888888;
}

.card img{
    width: 280px;
    height: 250px;
    padding: 20px;
}
.card button{
    color: white;
    background-color: black;
    border: 1px solid rgb(34, 33, 33);
    height: 35px;
    padding-top: 0px;
    margin-top: 5px;
}

.demo{
    display: none;
    width: 310px;
    height: auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    color: white;
    font-size: 13px;
    font-style: Sans-serif;
}
